.no-webp .bg_cataloge-1 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.42)), to(rgba(0, 0, 0, 0.42))), url("../img/cataloge/bg-1.jpg") center/cover no-repeat;
  background: -o-linear-gradient(rgba(0, 0, 0, 0.42), rgba(0, 0, 0, 0.42)), url("../img/cataloge/bg-1.jpg") center/cover no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.42), rgba(0, 0, 0, 0.42)), url("../img/cataloge/bg-1.jpg") center/cover no-repeat; }

.bg_cataloge-1 {
  min-height: 300px;
}

.bg_cataloge-1 .bg__title {
  margin-top: 127px;
}

.bg_cataloge-1 .bg__text {
  font-size: 25px;
  line-height: 32px;
  font-weight: 600;
  margin: 30px 6px 38px 0;
}

.goods-cataloge {
  position: relative;
  text-align: center;
  padding: 70px 0px;
}

.goods-cataloge__filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.goods-cataloge__filter_title,
.goods-cataloge__filter_price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 68px;
}

.goods-cataloge__filter_title img,
.goods-cataloge__filter_price img {
  margin-left: 10px;
}

.goods-cataloge__filter_price {
  margin-right: 160px;
}

.goods-cataloge__filter_price img {
  margin-left: 5px;
}

.goods-cataloge__filter_price h5 {
  margin-right: 7px;
}

.goods-cataloge__filter_reset {
  position: relative;
  color: #595959;
  padding-left: 23px;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
}

.goods-cataloge__filter_reset span::before,
.goods-cataloge__filter_reset span::after {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 45%;
  left: 0px;
  width: 17px;
  height: 2px;
  background: #595959;
}

.goods-cataloge__filter_reset span::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.goods-cataloge__filter_reset span::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.goods-cataloge__filter .button_green {
  height: 48px;
  min-width: 151px;
  width: 151px !important;
  margin-right: 44px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
}

.goods-cataloge__filter .taste-list,
.goods-cataloge__filter .mass-list {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}

.goods-cataloge__filter .taste-list {
  width: 283px;
  margin-right: 29px;
  z-index: 3;
}

.goods-cataloge__filter .mass-list {
  width: 171px;
  margin-right: 50px;
  z-index: 2;
}

.goods-cataloge .arrow-button {
  margin: -20px auto 70px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #337D5A;
}

.goods-cataloge .goods__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 78px 0px 24px;
}

.production {
  padding: 128px 0px 68px;
}

.production__info {
  max-width: 41%;
  width: 100%;
  padding-top: 0px;
  padding-bottom: 25px;
  margin-left: 0px;
}

.production__info h2 {
  line-height: 46px;
  margin-bottom: 8px;
}

.production__info p {
  margin-top: 11px;
  letter-spacing: normal;
}

.production__info_slider {
  max-height: 300px;
}

.production__info span {
  font-weight: 600;
  font-size: 24px;
  line-height: 50px;
}

.production__info .swiper-wrapper {
  width: 100%;
}

.production__info .swiper-slide {
  width: 100%;
  height: auto;
  padding-right: 48px;
}

.production__info .swiper-scrollbar-drag {
  background: #337D5A;
}

.contacts-cataloge {
  padding: 107px 0px;
}

@media (min-width: 920.1px) {
  .goods-cataloge .arrow-button {
    display: none;
  }
}

@media (max-width: 1300px) {
  .goods-cataloge__filter {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .goods-cataloge__filter > * {
    margin-bottom: 20px;
  }

  .goods-cataloge .goods__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .goods-cataloge .goods__list > * {
    margin-right: 10px;
    margin-left: 10px;
  }

  .goods-cataloge .goods__list {
    padding: 25px 0px 24px;
  }
}

@media (max-width: 1200px) {
  .production__info {
    max-width: 700px;
  }

  .production__info p {
    text-align: left;
  }

  .production__info br {
    display: none;
  }
}

@media (max-width: 920px) {
  .goods-cataloge .goods__list.goods_hide > *:nth-child(n+3) {
    display: none;
  }

  .contacts-cataloge {
    padding: 10px 0px;
  }
}

@media (max-width: 768px) {
  .goods-cataloge__filter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    position: relative;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    max-width: 406px;
    width: 100%;
  }

  .goods-cataloge__filter.hide > *:not(:first-child) {
    display: none;
  }
}

@media (max-width: 720px) {
  .no-webp .bg_cataloge-1 {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.42)), to(rgba(0, 0, 0, 0.42))), url("../img/cataloge/bg-1.jpg") bottom no-repeat;
    background: -o-linear-gradient(rgba(0, 0, 0, 0.42), rgba(0, 0, 0, 0.42)), url("../img/cataloge/bg-1.jpg") bottom no-repeat;
    background: linear-gradient(rgba(0, 0, 0, 0.42), rgba(0, 0, 0, 0.42)), url("../img/cataloge/bg-1.jpg") bottom no-repeat; }
}

@media (max-width: 500px) {
  .production__info {
    text-align: left;
  }
}

.webp .bg_cataloge-1 { background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.42)), to(rgba(0, 0, 0, 0.42))), url(../img/cataloge/bg-1.webp) center/cover no-repeat; background: -o-linear-gradient(rgba(0, 0, 0, 0.42), rgba(0, 0, 0, 0.42)), url(../img/cataloge/bg-1.webp) center/cover no-repeat; background: linear-gradient(rgba(0, 0, 0, 0.42), rgba(0, 0, 0, 0.42)), url(../img/cataloge/bg-1.webp) center/cover no-repeat; }

@media (max-width: 720px) {

  .webp .bg_cataloge-1 { background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.42)), to(rgba(0, 0, 0, 0.42))), url(../img/cataloge/bg-1.webp) bottom no-repeat; background: -o-linear-gradient(rgba(0, 0, 0, 0.42), rgba(0, 0, 0, 0.42)), url(../img/cataloge/bg-1.webp) bottom no-repeat; background: linear-gradient(rgba(0, 0, 0, 0.42), rgba(0, 0, 0, 0.42)), url(../img/cataloge/bg-1.webp) bottom no-repeat; } }