.no-webp .bg_gallery-1 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.42)), to(rgba(0, 0, 0, 0.42))), url("../img/gallery/bg-1.jpg") center/cover no-repeat;
  background: -o-linear-gradient(rgba(0, 0, 0, 0.42), rgba(0, 0, 0, 0.42)), url("../img/gallery/bg-1.jpg") center/cover no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.42), rgba(0, 0, 0, 0.42)), url("../img/gallery/bg-1.jpg") center/cover no-repeat; }

.bg_gallery-1 {
  min-height: 600px;
}

.bg_gallery-1 .bg__title {
  margin-top: 238px;
}

.bg_gallery-1 .bg__text {
  font-size: 25px;
  line-height: 32px;
  font-weight: 600;
  margin: 12px 6px 38px 0;
  letter-spacing: normal;
}

.gallery-gal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 92px 0px;
}

.gallery-gal > * {
  text-align: center;
}

.gallery-gal > p {
  margin: 23px 0 63px;
  font-size: 18px;
  line-height: 22px;
}

.gallery-gal .button {
  margin: 64px auto 8px;
}

.gallery-gal .gallery__item_video-small .gallery__item_video-big {
  padding: 20px;
}

.gallery-gal .gallery__item_video-small .gallery__item_video-big button {
  margin-top: 41px;
  margin-bottom: 23px;
}

.contacts-gallery {
  padding: 103px 0px;
}

@media (max-width: 1100px) {
  .gallery-gal {
    padding: 50px 0px;
  }
}

@media (max-width: 920px) {
  .contacts-gallery {
    padding: 10px 0px;
  }
}

.webp .bg_gallery-1 { background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.42)), to(rgba(0, 0, 0, 0.42))), url(../img/gallery/bg-1.webp) center/cover no-repeat; background: -o-linear-gradient(rgba(0, 0, 0, 0.42), rgba(0, 0, 0, 0.42)), url(../img/gallery/bg-1.webp) center/cover no-repeat; background: linear-gradient(rgba(0, 0, 0, 0.42), rgba(0, 0, 0, 0.42)), url(../img/gallery/bg-1.webp) center/cover no-repeat; }