.no-webp .bg_main-1 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.42)), to(rgba(0, 0, 0, 0.42))), url("../img/main/bg-1.jpg") center/cover no-repeat;
  background: -o-linear-gradient(rgba(0, 0, 0, 0.42), rgba(0, 0, 0, 0.42)), url("../img/main/bg-1.jpg") center/cover no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.42), rgba(0, 0, 0, 0.42)), url("../img/main/bg-1.jpg") center/cover no-repeat; }

.bg_main-1 {
  min-height: 600px;
}

.bg_main-1 .bg__title {
  margin-top: 195px;
}

.bg_main-1 .bg__text {
  font-size: 25px;
  line-height: 32px;
  font-weight: 600;
  margin: 30px 6px 38px 0;
}

.goods {
  padding: 82px 0px;
  text-align: center;
}

.goods > h2 {
  margin-bottom: 30px;
}

.goods > p {
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  max-width: 610px;
  width: 100%;
  margin: 0 auto;
}

.goods .arrow-button {
  margin: -20px auto 70px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #337D5A;
}

.goods__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 62px 0px 24px;
}

.production {
  padding: 108px 0px 102px;
}

.production__statistic {
  width: 100%;
}

.production__statistic > * {
  margin: 156px auto 30px;
}

.no-webp .bg_main-2 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(13, 12, 12, 0.55)), to(rgba(13, 12, 12, 0.55))), url("../img/main/bg-2.jpg") left/cover no-repeat;
  background: -o-linear-gradient(rgba(13, 12, 12, 0.55), rgba(13, 12, 12, 0.55)), url("../img/main/bg-2.jpg") left/cover no-repeat;
  background: linear-gradient(rgba(13, 12, 12, 0.55), rgba(13, 12, 12, 0.55)), url("../img/main/bg-2.jpg") left/cover no-repeat; }

.bg_main-2 {
  min-height: 740px;
}

.bg_main-2 .bg__title {
  margin-top: 242px;
}

.bg_main-2 button {
  margin: 70px 6px 27px 0;
}

.bg_main-2 p {
  font-style: normal;
  font-size: 24px;
  line-height: 28px;
}

.nuts-vitamins {
  position: relative;
  text-align: center;
  padding: 82px 0px 100px;
}

.nuts-vitamins > p {
  font-size: 18px;
  line-height: 28px;
  margin-top: 29px;
}

.nuts-vitamins__slider {
  margin-top: 62px;
}

.nuts-vitamins__slide {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.2);
}

.nuts-vitamins__slide > *:first-child {
  margin-top: 21px;
}

.nuts-vitamins__slide h2 {
  font-size: 40px;
  line-height: 87px;
  color: #fff;
}

.nuts-vitamins__slide p {
  max-width: 80%;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  color: #fff;
}

.nuts-vitamins__slide_green {
  background: rgba(51, 125, 90, 0.95);
}

.nuts-vitamins__slide_green > *:first-child {
  margin-top: 25px;
}

.nuts-vitamins__slide_green p:not(:last-child) {
  margin-bottom: 16px;
}

.nuts-vitamins__slide_green img {
  -webkit-transform: rotate(19.21deg);
      -ms-transform: rotate(19.21deg);
          transform: rotate(19.21deg);
}

.nuts-vitamins .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 525px;
}

.nuts-vitamins .swiper-slide > * {
  position: relative;
  max-width: 410px;
  width: 100%;
}

.nuts-vitamins__slider_control {
  position: absolute;
  bottom: 0px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 141px;
  height: 58px;
  background: #337D5A;
  z-index: 2;
}

.no-webp .bg_main-3 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(13, 12, 12, 0.55)), to(rgba(13, 12, 12, 0.55))), url("../img/main/bg-3.jpg") center/cover no-repeat;
  background: -o-linear-gradient(rgba(13, 12, 12, 0.55), rgba(13, 12, 12, 0.55)), url("../img/main/bg-3.jpg") center/cover no-repeat;
  background: linear-gradient(rgba(13, 12, 12, 0.55), rgba(13, 12, 12, 0.55)), url("../img/main/bg-3.jpg") center/cover no-repeat; }

.bg_main-3 {
  min-height: 740px;
}

.bg_main-3 .bg__title {
  margin-top: 224px;
}

.bg_main-3 h2 {
  margin-top: 47px;
}

.bg_main-3 p {
  font-size: 22px;
  line-height: 28px;
  margin-top: 22px;
}

.news-main .news {
  padding: 84px 0px;
}

.contacts-main {
  padding: 107px 0px;
}

@media (min-width: 920.1px) {
  .goods .arrow-button {
    display: none;
  }
}

@media (min-width: 1400.1px) {
  .nuts-vitamins__slider_control {
    display: none;
  }
}

@media (max-width: 1400px) {
  .nuts-vitamins .swiper-wrapper {
    padding-bottom: 70px;
  }
}

@media (max-width: 1300px) {
  .goods__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .goods__list > * {
    margin-right: 10px;
    margin-left: 10px;
  }
}

@media (max-width: 920px) {
  .goods__list.goods_hide > *:nth-child(n+3) {
    display: none;
  }
}

@media (max-width: 720px) {
  .no-webp .bg_main-1 {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.42)), to(rgba(0, 0, 0, 0.42))), url("../img/main/bg-1-mobile.jpg") bottom/cover no-repeat;
    background: -o-linear-gradient(rgba(0, 0, 0, 0.42), rgba(0, 0, 0, 0.42)), url("../img/main/bg-1-mobile.jpg") bottom/cover no-repeat;
    background: linear-gradient(rgba(0, 0, 0, 0.42), rgba(0, 0, 0, 0.42)), url("../img/main/bg-1-mobile.jpg") bottom/cover no-repeat; }

  .no-webp .bg_main-2 {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.42)), to(rgba(0, 0, 0, 0.42))), url("../img/main/bg-2-mobile.jpg") bottom/cover no-repeat;
    background: -o-linear-gradient(rgba(0, 0, 0, 0.42), rgba(0, 0, 0, 0.42)), url("../img/main/bg-2-mobile.jpg") bottom/cover no-repeat;
    background: linear-gradient(rgba(0, 0, 0, 0.42), rgba(0, 0, 0, 0.42)), url("../img/main/bg-2-mobile.jpg") bottom/cover no-repeat; }

  .no-webp .bg_main-3 {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.42)), to(rgba(0, 0, 0, 0.42))), url("../img/main/bg-3-mobile.jpg") center/cover no-repeat;
    background: -o-linear-gradient(rgba(0, 0, 0, 0.42), rgba(0, 0, 0, 0.42)), url("../img/main/bg-3-mobile.jpg") center/cover no-repeat;
    background: linear-gradient(rgba(0, 0, 0, 0.42), rgba(0, 0, 0, 0.42)), url("../img/main/bg-3-mobile.jpg") center/cover no-repeat; }
}

@media (max-width: 500px) {
  .nuts-vitamins__slide h2 {
    font-size: 30px;
    line-height: 50px;
  }

  .nuts-vitamins__slide p {
    font-size: 14px;
    line-height: 18px;
  }

  .nuts-vitamins .swiper-slide {
    height: auto;
  }

  .nuts-vitamins .swiper-slide picture img {
    width: 100%;
  }
}

.webp .bg_main-1 { background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.42)), to(rgba(0, 0, 0, 0.42))), url(../img/main/bg-1.webp) center/cover no-repeat; background: -o-linear-gradient(rgba(0, 0, 0, 0.42), rgba(0, 0, 0, 0.42)), url(../img/main/bg-1.webp) center/cover no-repeat; background: linear-gradient(rgba(0, 0, 0, 0.42), rgba(0, 0, 0, 0.42)), url(../img/main/bg-1.webp) center/cover no-repeat; }

.webp .bg_main-2 { background: -webkit-gradient(linear, left top, left bottom, from(rgba(13, 12, 12, 0.55)), to(rgba(13, 12, 12, 0.55))), url(../img/main/bg-2.webp) left/cover no-repeat; background: -o-linear-gradient(rgba(13, 12, 12, 0.55), rgba(13, 12, 12, 0.55)), url(../img/main/bg-2.webp) left/cover no-repeat; background: linear-gradient(rgba(13, 12, 12, 0.55), rgba(13, 12, 12, 0.55)), url(../img/main/bg-2.webp) left/cover no-repeat; }

.webp .bg_main-3 { background: -webkit-gradient(linear, left top, left bottom, from(rgba(13, 12, 12, 0.55)), to(rgba(13, 12, 12, 0.55))), url(../img/main/bg-3.webp) center/cover no-repeat; background: -o-linear-gradient(rgba(13, 12, 12, 0.55), rgba(13, 12, 12, 0.55)), url(../img/main/bg-3.webp) center/cover no-repeat; background: linear-gradient(rgba(13, 12, 12, 0.55), rgba(13, 12, 12, 0.55)), url(../img/main/bg-3.webp) center/cover no-repeat; }

@media (max-width: 720px) {

  .webp .bg_main-1 { background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.42)), to(rgba(0, 0, 0, 0.42))), url(../img/main/bg-1-mobile.webp) bottom/cover no-repeat; background: -o-linear-gradient(rgba(0, 0, 0, 0.42), rgba(0, 0, 0, 0.42)), url(../img/main/bg-1-mobile.webp) bottom/cover no-repeat; background: linear-gradient(rgba(0, 0, 0, 0.42), rgba(0, 0, 0, 0.42)), url(../img/main/bg-1-mobile.webp) bottom/cover no-repeat; } }

@media (max-width: 720px) {

  .webp .bg_main-2 { background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.42)), to(rgba(0, 0, 0, 0.42))), url(../img/main/bg-2-mobile.webp) bottom/cover no-repeat; background: -o-linear-gradient(rgba(0, 0, 0, 0.42), rgba(0, 0, 0, 0.42)), url(../img/main/bg-2-mobile.webp) bottom/cover no-repeat; background: linear-gradient(rgba(0, 0, 0, 0.42), rgba(0, 0, 0, 0.42)), url(../img/main/bg-2-mobile.webp) bottom/cover no-repeat; } }

@media (max-width: 720px) {

  .webp .bg_main-3 { background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.42)), to(rgba(0, 0, 0, 0.42))), url(../img/main/bg-3-mobile.webp) center/cover no-repeat; background: -o-linear-gradient(rgba(0, 0, 0, 0.42), rgba(0, 0, 0, 0.42)), url(../img/main/bg-3-mobile.webp) center/cover no-repeat; background: linear-gradient(rgba(0, 0, 0, 0.42), rgba(0, 0, 0, 0.42)), url(../img/main/bg-3-mobile.webp) center/cover no-repeat; } }