.main-news {
  text-align: center;
  padding: 63px 0px 20px;
}

.main-news > p {
  font-size: 18px;
  line-height: 22px;
  margin: 21px 0px 65px;
}

.main-news__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-news__content picture img {
  max-width: 849px;
  width: 100%;
}

.main-news__text {
  padding: 20px 10px 20px 50px;
  text-align: left;
  margin-top: 50px;
  max-width: 34%;
  width: 100%;
}

.main-news__text h4 {
  font-size: 22px;
  line-height: 26px;
  margin: 19px 0px 22px;
}

.main-news__text p {
  letter-spacing: normal;
}

.main-news__text_date {
  font-family: "Montserrat";
  font-size: 13px;
  line-height: 22px;
  letter-spacing: 0.01em;
  color: #8A8A8A;
}

.news-news {
  margin-top: -31px;
}

.news-news .news__slider_control,
.news-news .news > h2,
.news-news .news > p,
.news-news .news > div:has(.button_white) {
  display: none;
}

.video-news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -44px;
  padding-bottom: 85px;
}

.video-news picture img {
  width: 100%;
}

.video-news__data {
  position: relative;
  text-align: center;
}

.video-news .button {
  margin-top: 65px;
}

.contacts-news {
  padding: 107px 0px 0px;
}

@media (max-width: 1314px) {
  .news-news .news__slider_control {
    display: block;
    top: 87%;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}

@media (max-width: 1300px) {
  .main-news__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .main-news__text {
    padding: 20px 10px 20px 20px;
    max-width: 70%;
  }

  .video-news {
    margin-top: 0px;
    padding-bottom: 20px;
  }
}

@media (max-width: 920px) {
  .contacts-news {
    padding: 10px 0px;
  }
}

@media (max-width: 720px) {
  .main-news__text {
    max-width: 90%;
  }

  .main-news__text {
    max-width: 100%;
  }
}