.product {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 130px 0px 71px;
}

.product__image {
  position: relative;
  max-width: 553px;
  width: 100%;
  height: 571px;
  margin-top: 5px;
  border: 2px solid #93B474;
  margin-left: 0px;
}

.product__image_isHover {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 4px 0px 2px;
  visibility: hidden;
  pointer-events: none;
  top: 0;
  left: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.product__image .swiper-button-next,
.product__image .swiper-button-prev {
  position: absolute;
  top: 47.8%;
  z-index: 5;
}

.product__image .swiper-button-next {
  right: 18px;
}

.product__image .swiper-button-prev {
  left: 18px;
}

.product__image .item-goods__zoom {
  position: absolute;
  top: 5px;
  right: 10px;
}

.product__image .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product__image .swiper-slide picture {
  max-width: 153px;
  width: 100%;
}

.product__image .swiper-slide picture img {
  width: 100%;
  aspect-ratio: 153/431;
}

.product__data {
  max-width: 661px;
  width: 100%;
  margin-left: auto;
}

.data-prod__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #337D5A;
}

.data-prod__name span {
  margin-top: 2px;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #2d2d2d;
}

.data-prod h3 {
  font-size: 30px;
  line-height: 32px;
  color: #1A2F3F;
  letter-spacing: 0.01em;
  margin-top: 18px;
}

.data-prod__info {
  margin: 41px 0px 30px;
}

.data-prod__info p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 38px;
  font-weight: 700;
  font-size: 16px;
  line-height: 17px;
  letter-spacing: 0.02em;
}

.data-prod__info p:first-child {
  margin-bottom: 25px;
}

.data-prod__info p:last-child {
  margin-bottom: 34px;
}

.data-prod__info p span {
  display: block;
  max-width: 388px;
  width: 100%;
  margin-left: auto;
  padding-right: 15px;
  margin-top: -2px;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: normal;
  color: #303030;
}

.data-prod__warning {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1764705882);
  padding: 20px 17px 21px;
  font-family: "Montserrat";
  font-style: normal;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: normal;
}

.data-prod__warning img {
  margin-right: 28px;
}

.data-prod__buy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 34px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.data-prod__buy > *:not(.button) {
  margin-bottom: 18px;
}

.data-prod__buy_price {
  margin-right: 6px;
  margin-left: 8px;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.01em;
  color: #337D5A;
}

.data-prod__buy_price span {
  font-size: 16px;
  line-height: 20px;
}

.data-prod__buy_old-price {
  margin-right: 32px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.01em;
  color: #8A8A8A;
}

.data-prod__buy_old-price span {
  font-size: 14px;
  line-height: 17px;
}

.data-prod__buy .button {
  width: 190px;
}

.prod-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 75px;
}

.prod-info__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 760px;
  width: 100%;
  margin-bottom: 54px;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}

.prod-info__menu input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.prod-info__menu input:checked + label {
  border-bottom: 3px solid #337D5A;
}

.prod-info__menu label {
  padding: 18px 20px;
}

.prod-info__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.prod-info__data picture {
  max-width: 409px;
  width: 100%;
}

.prod-info__data picture img {
  width: 100%;
  aspect-ratio: 409/503;
}

.prod-info__text {
  max-width: 821px;
  width: 100%;
  margin-left: auto;
  margin-top: 6px;
}

.prod-info__text p,
.prod-info__text ul {
  font-family: "Montserrat";
  font-size: 15px;
  line-height: 25px;
  letter-spacing: normal;
}

.prod-info__text p {
  margin-bottom: 11px;
}

.prod-info__text ul {
  margin-bottom: 11px;
}

.prod-info__text ul li {
  list-style: inside;
  margin-bottom: 3px;
}

.prod-info__text ul li::marker {
  color: #93B474;
}

.prod-info__list-title {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 15px;
  line-height: 16px;
}

.contacts-prod {
  padding: 107px 0px;
}

@media (max-width: 1300px) {
  .product {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .product__image {
    margin-left: auto;
    margin-right: auto;
  }

  .product__data {
    margin-left: 0px;
  }

  .prod-info__data {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .prod-info__text {
    margin-left: 0px;
  }
}

@media (max-width: 920px) {
  .contacts-prod {
    padding: 10px 0px;
  }
}